body {
    font-family: 'Montserrat';
    font-weight: 500;
}

#title {
    color: #fff;
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;

}

h3 {
    font-family: 'Montserrat-Black',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Navigation Bar */


.navbar {
    padding: 0 0 50px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-family: "Montserrat-light";
    font-size: 20px;
}


/* Buttons */

.Download-Button {
    margin: 5% 3% 5% 0;

}

/* Title Image */
.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features */
#features {
    background-color: #fff;
    position: relative;
    padding: 15% 15%;
    line-height: 1.5;
    z-index: 1;
}

/* Icons */
.icon {
    color: #ef8172;
    position: relative;
    left: 40%;

}

.icon:hover {
    color: #ff4c68;
    text-align: center;
}



.para {
    padding: 0 15%;
    color: #8f8f8f;
    text-align: center;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
    
    text-align: center;
    color: #fff;
}

.testimonials-image {
    width: 100px;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing{
    padding:100px 100px;
    text-align: center;
}

.pricing-column{
    padding:2% 3%;
}

/* Media Query for title */

@media (max-width:992px){
    #title{
        text-align: center;
    }
    .title-image {
        width: 60%;
        transform: rotate(0);
        position: static;
        
    }
}


/* Call To Action */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding:7% 15%;
    
}
.cta-header{
    font-family: 'Montserrat-Black',sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color:#fff;
}


/* Footer */
#footer{
    background-color: #fff;
    text-align: center;
    padding:6%;
}
.f-icon{
    padding:2% 1%;
}
.f-p{
    font-weight: 600;
    color:#8f8f8f
}